*.log*
*.sqlite*
*.pyc
catboost_info/
user_data/configs/generated/
user_data/strategies/generated/
user_data/hyperopt.lock
user_data/output.csv
.venv/
__pycache__/
venv/
plot/
backtest_results/
hyperopt_results/
python_results/
models/
temp/
cache/
node_modules/
user_data/data/
user_data/logs/
.ipynb_checkpoints
.virtual_documents
*.swp
.yarn/
yarn.lock
package-lock.json
package.json
.pnp*
